@import url('https://fonts.googleapis.com/css2?family=Nova+Oval&display=swap');
*{
    box-sizing: content-box;
    margin: 0;
    font-family: 'Nova Oval', cursive;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex-grow: 1;
}

footer, main{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100vw;
}
iframe{
    width: 60vw;
}
.about{
    display: flex;
    align-items: center;
    text-align: center;
    width: 40vw;

}
.about p{
    width: 100vw;
}


@media (max-width: 600px){
    footer, main{
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        align-items: center;
    }

}